* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: font-family "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-c {
    background-color: #ededed;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.header {
    background-color: white;
    height: 75px;
}

.logo-wrapper {
    float: left;
    width: 20%;
    height: 100%;
}

.social-media {
    float: left;
    width: 30%;
}

.menu-wrapper {
    float: left;
    width: 60%;
    height: 100%;
}

    .menu-wrapper .main-menu li a.active {
        color: pink;
        background-color: none;
    }

.title-section {
    height: 65px;
    width: 214px;
    text-align: center;
}

    .title-section img {
        width: 100px;
        height: 100px;
        margin-top: -8px;
    }

    .title-section a {
        text-decoration: none;
    }

.menu-wrapper .main-menu {
    list-style: none;
    float: right;
    margin: auto;
    margin-top: 30px;
}

ul.main-menu li {
    float: left;
    margin-right: 53px;
}

    ul.main-menu li a {
        text-decoration: none;
        color: black;
        border-radius: 5px;
    }

.social-media .main-social-menu {
    list-style: none;
    float: right;
    margin: auto;
    margin-top: 30px;
}

ul.main-social-menu li {
    float: left;
    display: inline-block;
    margin-right: 23px;
}

    ul.main-social-menu li a {
        text-decoration: none;
        color: black;
        border-radius: 5px;
    }

.social-media {
    width: 20%;
    height: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.login-btn {
    padding: 9px 11px 9px 11px;
    background-color: #ef6c57;
    border: 0px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides2 {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

    .text h1 {
        margin-top: -300px;
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.overlay-bg-color {
    width: 100%;
    background-color: grey;
    opacity: 1;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        color: pink;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.container-section {
    padding: 0px;
    width: 100%;
    padding: 10px;
    color: #fff;
    height: auto;
}

    .container-section ul {
        list-style: none;
        overflow: hidden;
    }

        .container-section ul li img {
            width: 180px;
            height: 180px;
            border-radius: 258px;
        }

        .container-section ul li a {
            text-decoration: none;
        }

.lower-content {
    width: 70%;
    border-radius: 5px;
    height: auto;
    padding: 35px;
    float: left;
    background-color: #fff;
    color: black;
    border: 3px solid #ced4da;
    margin-left: 200px;
}

.contact-form {
    width: 40%;
    border-radius: 5px;
    height: auto;
    padding: 10px;
    float: left;
    background-color: #fff;
    color: black;
    border: 3px solid #ced4da;
    margin-left: 0px;
}

.lower-content-wrapper {
    height: 47px;
    width: 150px;
    margin: -18px 16px;
    text-align: center;
    padding: 3px;
    border-radius: 2px;
}

    .lower-content-wrapper h1 {
        color: #fff;
    }

.pasport-size {
    float: left;
    width: 90px;
    height: 90px;
    margin: 10px 30px 25px 0px;
}

.lower-content-text h2 {
    margin-top: 20px;
    padding: 20px;
}

.lower-content p {
    color: #464653;
    line-height: 24px;
}

.lower-content-right {
    float: right;
    background-color: #fff;
    width: 47%;
    border-radius: 3px;
    padding: 10px;
    color: black;
}

.lower-content-right-two-text {
    margin-right: 45px;
}

.lower-content-right-wrapper {
    background-color: #222842;
    height: 47px;
    width: 150px;
    margin: -23px 16px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    color: #fff;
}

.lower-content-right-text {
    margin-top: 65px;
    line-height: 24px;
}

.lower-content-right-two {
    float: right;
    background-color: #fff;
    width: 47%;
    border-radius: 3px;
    margin-top: 35px;
    padding: 10px;
    color: black;
}

    .lower-content-right-two .think {
        height: 290px;
        width: 100%;
    }

    .lower-content-right-two span {
        float: right;
        margin-top: 9px;
        line-height: 24px;
    }

.footer {
    height: 120px;
    background-color: #333333;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.container .icon {
    float: left;
    padding: 0px 3px 20px 0px;
}

.footer-content {
    width: 60%;
    float: left;
    padding: 48px 0px 48px 30px;
}

.icon ul {
    list-style: none;
}

    .icon ul li {
        float: right;
        padding-right: 9px;
        background-color: #387a82;
        padding: 5px;
    }

        .icon ul li a {
            text-decoration: none;
            color: #1b6068;
        }

.main-text {
    max-height: auto;
}

.second {
    width: 10.33% !important;
    float: left;
}

.third {
    width: 10.33% !important;
    float: left !important;
}

.second, .third {
    margin-left: 180px !important;
}

.first {
    width: 10.33% !important;
    float: left;
}

.mySlides img {
    width: 100%;
    height: 600px;
}

.first-row {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

.parent {
    margin: 10px;
    width: 350px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.first-row .image-one a {
    /*display: none;*/
    font-size: 15px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.parent h3 {
    margin-top: 185px;
}

.first-row .image-two a {
    /*display: none;*/
    font-size: 15px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.first-row .image-three a {
    /*display: none;*/
    font-size: 15px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.second-row .image-one a {
    /*display: none;*/
    font-size: 15px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.second-row .image-two a {
    /*display: none;*/
    font-size: 15px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.second-row .image-three a {
    /*display: none;*/
    font-size: 15px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

    .parent:hover .child:before, .parent:focus .child:before {
        display: block;
    }

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: rgba(52,73,94,0.75);*/
}

.second-row {
    width: 100%;
    height: auto;
    float: left;
}

.first-row .image-one {
    /*width: 33.33%;*/
    float: left;
    /*width: 350px;*/
    height: 250px;
    box-shadow: 10px;
    border-radius: 4px;
}

    .first-row .image-one img {
        /*width: 33.33%;*/
        float: left;
        width: 350px;
        height: 250px;
    }

.first-row .image-two {
    /*width: 33.33%;*/
    float: left;
    width: 100%;
    /*width: 350px;*/
    height: 250px;
    box-shadow: 10px;
    border-radius: 4px;
}

.first-row .image-three {
    /*width: 33.33%;*/
    width: 100%;
    float: left;
    /*width: 350px;*/
    height: 250px;
    box-shadow: 10px;
    border-radius: 4px;
}

.btn {
    margin-top: 55px;
    padding: 14px 20px 14px 20px;
    background-color: #ef6c57;
    border: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.bg-light {
    background-color: #f8f9fa;
    height: auto;
    width: 100%;
}

.content-title {
    text-align: center;
    font-size: 50px;
}

/* changed CSS */
.menu-icon {
    display: none;
}

.show {
    display: block;
}

@media only screen and (max-width:780px) {

    .menu-wrapper {
        width: 100%;
    }

    .main-menu {
        float: none;
    }

    .menu-wrapper {
        display: none;
        width: 100%;
    }

    .main-social-menu {
        display: none;
    }

    .title-section {
        height: 20px;
        width: 100%;
    }

    .second-row .image-one a {
        margin-top: -3px
    }

    .destination {
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin: 10px;
    }

    .carousel-dot {
        display: none;
    }

    .title-section {
        float: left;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-top: 23px;
        margin-right: 0px;
        padding: 3px;
    }

    .show {
        display: block;
    }

    .bar-btn {
        font-size: 31px;
        background-color: #fff;
        border: none;
    }

    .text h1 {
        margin-top: -174px;
    }

    .mySlides img {
        width: 100%;
        height: 355px;
        background-size: cover;
    }

    .main-menu li {
        float: none !important;
        font-size: 25px;
        margin-top: 13px;
    }

    .title-section a h1 {
        font-size: 20px;
    }

    ul .main-menu li {
        float: none !important;
    }

    .menu-wrapper .main-menu {
        float: none;
    }

    .menu-wrapper {
        height: 164px;
    }

}
/*Ends dont remove*/

@media only screen and (max-width:480px) {
    /*For mobile phones:*/

    .menu-wrapper {
        width: 100%;
    }

    .main-menu {
        float: none;
    }

    .menu-wrapper {
        display: none;
        width: 100%;
    }

    .main-social-menu {
        display: none;
    }

    .title-section {
        height: 20px;
        width: 100%;
    }

    .second-row .image-one a {
        margin-top: -3px
    }

    .destination {
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin-left: 10px;
    }

    .carousel-dot {
        display: none;
    }

    .title-section {
        float: left;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-top: 23px;
        margin-right: 0px;
        padding: 3px;
    }

    .show {
        display: block;
    }

    .bar-btn {
        font-size: 31px;
        background-color: #fff;
        border: none;
    }

    .text h1 {
        margin-top: -174px;
    }

    .mySlides img {
        width: 100%;
        height: 355px;
        background-size: cover;
    }

    .main-menu li {
        float: none !important;
        font-size: 25px;
        margin-top: 13px;
    }

    .title-section a h1 {
        font-size: 20px;
    }

    ul .main-menu li {
        float: none !important;
    }

    .menu-wrapper .main-menu {
        float: none;
    }

    .menu-wrapper {
        height: 164px;
    }
}
/*Ends dont remove*/

@media only screen and (max-width:500px) {
    /*For mobile phones:*/

    .menu-wrapper {
        width: 100%;
    }

    .main-menu {
        float: none;
    }

    .menu-wrapper {
        display: none;
        width: 100%;
    }

    .main-social-menu {
        display: none;
    }

    .title-section {
        height: 20px;
        width: 100%;
    }

    .second-row .image-one a {
        margin-top: -3px
    }

    .destination {
        width: 99%;
        font-size: 50px;
        text-align: center;
    }

    .carousel-dot {
        display: none;
    }

    .title-section {
        float: left;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-top: 23px;
        margin-right: 0px;
        padding: 3px;
    }

    .show {
        display: block;
    }

    .bar-btn {
        font-size: 31px;
        background-color: #fff;
        border: none;
    }

    .text h1 {
        margin-top: -174px;
        }

    .mySlides img {
        width: 100%;
        height: 355px;
        background-size: cover;
    }

    .main-menu li {
        float: none !important;
        font-size: 25px;
        margin-top: 13px;
    }

    .title-section a h1 {
        font-size: 20px;
    }

    ul .main-menu li {
        float: none !important;
    }

    .menu-wrapper .main-menu {
        float: none;
    }

    .menu-wrapper {
        height: 164px;
    }

    .text p {
        display: none;
    }

}














.wrapper{
    width: 95%;
    margin: 1% auto;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.logo{
    width: 20%;
    float: left;
}
.menu{
    width: 45%;
    float: left;
    margin: 0 5%;
}
.menu ul{
    list-style-type: none;
}
.menu ul a{
    color: rgb(102,102,102);
    padding: 1%;
    text-decoration: none;
}
.menu ul a:hover{
    background-color: rgb(245,124,33);
    color: white;
}
.menu ul a li{
    display: inline;
    margin: 0 1%;
}
.contact{
    float: right;
    width: 20%;
    font-size: 1.3em;
    color: rgb(245,124,33);
}


.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}


.banner{
    background-image: url("../../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2% 0;
}
.banner .slider{
    width: 60%;
    height: auto;
    float: left;
}
.banner .register{
    width: 30%;
    float: right;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}
.banner .register-form{
    margin: 3% auto;
    padding: 3%;
    border-radius: 5px;
    background-color: rgb(222,221,221);
}
.banner .register-form input[type="text"],input[type="email"],input[type="tel"],input[type="password"]
{
    padding: 1%;
    width: 95%;
    margin: 3% 0 0 0;
}
.banner .register-form input[type="submit"]
{
    padding: 4%;
    width: 98%;
    margin: 3% 0 0 0;
    font-size: 1.0em;
    background-color: rgb(245,124,33);
    color: white;
}
.banner .register-form input[type="submit"]:hover{
    background-color: rgb(248,150,38);
    cursor: pointer;
}

.services{
    text-align: center;
}
.services .service-box{
    width: 25%;
    background-color: white;
    float: left;
    margin: 1% 3%;
    padding: 1%;
    border: 1px solid silver;
}
.services .service-box i{
    font-size: 4em;
}
.brands{
    background-color: white;
    
}
.register{
    background-image: url("../../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.brands .categories
{
    width: 60%;
    float: left;
    padding: 1%;
}
.brands .categories ul{
    list-style-type: none;
    font-size: 0.9em;
}
.brands .categories ul a{
    color: rgb(102,102,102);
    text-decoration: none;
    padding: 1%;
}
.brands .categories ul a:hover{
    color: rgb(245,124,33);
    text-decoration: underline;
}
.brands .categories ul a li{
    display: inline;
}
.brands .search{
    width: 35%;
    padding: 1%;
    float: right;
}
.brands .search input[type="search"]
{
    width: 98%;
    padding: 1%;
    border: 2px solid rgb(245,124,33);
}
.brands .cover img{
    width: 100%;
    margin: 0 auto;
}
.brands .about .quotes{
    font-size: 2em;
    text-align: center;
    margin: 1% 0;
}
.brands .about p{
    text-align: justify;
    margin: 1% auto;
}
.brands .gallery .image{
    width: 22.8%;
    border: 1px solid silver;
    float: left;
    margin: 1%;
}
.brands .gallery a{
    color: black;
}
.brands .gallery .image:hover{
    box-shadow: 0 0 1px 1px;
}
.brands .gallery .image img{
    width: 100%;
}
.brands .contact-form{
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
.brands .contact-form input[type="text"],input[type="email"],input[type="tel"],input[type="url"],textarea
{
    width: 96%;
    padding: 1%;
    margin: 1% 0;
}
.brands .contact-form input[type="submit"]
{
    width: 98%;
    padding: 2%;
    font-size: 1.2em;
}
.brands .login{
    width: 35%;
    padding: 2%;
    margin: 2%;
    border: 1px solid silver;
    border-radius: 5px;
    float: left;
    background-color: rgb(222,221,221);
}
.brands .login input[type="password"],input[type="email"]
{
    width: 96%;
    padding: 1%;
    margin: 1% 0;
}
.brands .login input[type="submit"]
{
    width: 99%;
    padding: 2%;
    margin: 1% 0;
    font-size: 1.2em;
}
.brands .signup{
    width: 48%;
    margin: 2%;
    padding: 2%;
    border: 1px solid silver;
    background-color: rgb(222,221,221);
    border-radius: 5px;
    float: right;
}
.brands .signup input[type="password"],input[type="email"],input[type="text"],input[type="tel"]
{
    width: 96%;
    padding: 1%;
    margin: 1% 0;
}
.brands .signup input[type="submit"]
{
    width: 99%;
    padding: 2%;
    margin: 1% 0;
    font-size: 1.2em;
}
.brands .cat-title{
    margin-left: 1%;
    font-weight: bold;
}
.brands .brand-box{
    width: 18%;
    float: left;
    margin: 0.5%;
    padding: 0.4%;
    background-color: white;
    border: 1px solid silver;
    font-size: 0.9em;
}
.brands .brand-box img{
    width: 100%;
    height: 200px;
}
.brands a .brand-box{
    color: #6F6D6E;
}
.brands a .brand-box:hover{
    border-color: rgb(245,124,33);
    color: rgb(245,124,33); 
    opacity: 0.8;
}
.rate{
    text-align: center;
    margin: 1%;
}
.footer{
    
}
.footer .quick-links{
    width: 70%;
    float: left;
}
.footer .quick-links .quick-box{
    width: 31%;
    float: left;
    margin: 1%;
}
.footer .quick-links .quick-box ul{
    list-style-type: none;
}
.footer .quick-links .quick-box ul a{
    color: grey;
    text-decoration: none;
    font-size: 0.9em;
}
.footer .quick-links .quick-box ul a:hover{
    color: rgb(245,124,33);
    text-decoration: underline;
}
.footer .followup input[type="submit"]{
    background-color: rgb(245,124,33);
    color: white;
    padding: 1%;
    margin-top: 2%;
}
.footer .followup input[type="submit"]:hover{
    background-color: rgb(248,150,38);
    cursor: pointer;
}
.footer .followup{
    width: 25%;
    float: right;
}
.footer .followup p{
    color: grey;
    font-size: 0.9em;
    text-align: left;
    line-height: 15px;
}
.footer p{
    color: grey;
    font-size: 0.9em;
    text-align: center;
}
.banner .brand-register{
    border: 2px solid white;
    width: 40%;
    margin: 1% auto;
    padding: 2%;
    color: black;
    background-color: silver;
}
/* CSS FOR DEVICE WIDTH OF 768px */
@media only screen and (max-width:768px)
{
    .logo{
        width: 100%;
        text-align: center;
    }
    .menu{
        width: 90%;
        text-align: center;
    }
    .contact{
        width: 100%;
        text-align: center;
    }
    .banner .slider{
        width: 100%;
    }
    .banner .register{
        width: 100%;
    }
    .services .service-box{
        width: 43%;
        margin: 1% 2%;
        padding: 1%;
    }
    .brands .categories
    {
        width: 100%;
    }
    .brands .search{
        width: 100%;
    }
    .brands .brand-box{
        width: 44.5%;
        margin: 2%;
    }
    .footer .quick-links{
        width: 100%;
    }
    .footer .quick-links .quick-box{
        
    }
    .footer .followup{
        width: 100%;
        text-align: center;
    }
    .footer .followup input[type="submit"]
    {
        width: 100%;
    }
    .banner .brand-register{
        width: 100%;
    }
}

/* CSS FOR DEVICE WIDTH OF 480px */
@media only screen and (max-width:480px)
{
    .services .service-box{
        width: 96%;
        margin: 1% 2%;
        padding: 1%;
    }
    .brands .brand-box{
        width: 95%;
        text-align: center;
    }
    .footer .quick-links .quick-box{
        width: 100%;
        text-align: center;
    }
    .banner .slider{
        display: none;
    }
    
}